@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Dosis&family=Bebas+Neue&family=Inter&display=swap');

:root {
    --cor-border:#d9d9d9;
    --cor-fundo-bracket:#fff;
    --cor-fundo-result:#365A08;
    --cor-fundo-header: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 400vh;
}

body {
    background-color: #1b1b1b;
}

/*pagina principal*/
.container {
    max-width: 100%;
}

.section {
    max-width: 100%;
}

.container-s{
    height: 300vh;
    width: 100%;
    padding: 0 15px;
}

#cut {
    width: 100%;
    height: 86px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

.conteudo p , .conteudo li a , li::marker{
    font-family:'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;
}


h2 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#olicoc {
    font-family: 'Dosis',sans-serif;
    font-size: 30px;
}

header.rolagem {
    background-color: #141414;
}

header {
    background-color: transparent;
    width: 100%;
    padding: 24px;
    position: fixed;
}

header a {
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
}

header ul li a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

a:hover {
    outline: none;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

header.rolagem ul li a:hover , header.rolagem #active {
    border-color:#fff;
}

header ul li a:hover , #active{
    border-color: #365A08;
}

#olicoc:hover {
    color: #5D9D0B;
}

#btn-menu {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 100px;
}

::-webkit-transition {
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0,0,0.65,-0.4);
    transition-delay: 0;
    transition-property: all;
}


/*paginas esportes*/

.title>h2 {
    border-bottom: 2px solid #365A08;
}

.title {
    padding: 0 35px;
}

.package-tables {
    height: 245px;
    display: flex;
    justify-content: center;
}


.box-tabelas {
height: fit-content;
display: inline-block;
margin: 0 2rem 2rem 0;
vertical-align: bottom;
box-sizing: content-box;
max-width: 100%;
}

.box-tabelas:hover tr:nth-child(7){
    display:contents;
}

.equipe th {
    border: none;
}


table.equipe {
    color:#ffffff;
    width: 201px;
    background-color: #365A08;
    margin-bottom: 0.22rem;
}

table {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 2px 3px 4px 0px rgba(255, 255, 255, 0.13);
}

td {
    text-align: center;
    width: 180px;
    height: 30px;
    
}

th {
    width: 20px;
    height: 30px;
    font-weight: 500;
}

td,th {
    padding: 2px;
    border: 1px solid #d9d9d9;
}


tr:nth-child(7) {
    display: none;
}


/*chaves do torneio*/

.chave-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chave-team {
    border-radius: 2px;
    border: 1px solid var(--cor-border);
    background: var(--cor-fundo-bracket);
    box-shadow: 2px 3px 4px 0px rgba(255, 255, 255, 0.13);
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.chave-team-points {
    background: var(--cor-fundo-result);
    min-width: 2rem;
}

.chave-team-points, .chave-team-name {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    padding: 3px;
}

.chave-header-content {
    padding: 0.5rem;
    font-size:150%;
    background-color: var(--cor-fundo-header);
    border: 1px solid var(--cor-border);
    border-radius: 2px;
}

.chave-header-content , .qrt-final-content , .semi-final-content, .chave-final-content {
    font-family: 'Poppins', sans-serif;
    color:#Fff;
    text-transform: capitalize;
}

.chave-content , .chave-semi-content, .chave-final-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.chave-playoffs-upper-package {
    display: flex;
}

.chave-semi-package {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chave-final-package {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chave-team.qrt-final, .chave-team.semi-final, .chave-team.final{
    min-width: 160px;
}

.qrt-final-content, .semi-final-content, .final-content {
    font-size: 14px;
}

.chave-game-connectors {
    align-self: stretch;
    position: relative;
    width: 60px;
}


.line {
    position: absolute;
    background-color: var(--cor-border);
    box-shadow: 2px 3px 4px 0px rgba(255, 255, 255, 0.13);;
}

@media screen and (max-width:910px){
    #btn-menu {
        display: block;
        display: flex;
        
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        
    }

    .flex {
        align-items: center;
        display: flex;
    }

    .flex ul {
        display: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 0;
        top: 58px;
        right: 0;
        height: 100vh;
        z-index: 1000;
        transition: all ease .5s;
        background-color: #141414;
    }

    #nav.active #m {
        width: 45%;
    }

    header {
        background-color: #141414;
        padding: 16px;
        width:100%;
    }

    header ul li a {
        border-bottom: none;
    }

    header ul li {
        margin: 0 1rem;
        font-size: 14px;
        border-bottom: 2px solid rgba(0,0,0,0.322);
    }

    header ul li:hover {
        border-color: #365A08;
    }

    li {
        outline: none;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    #h {
        color: #fff;
        border-top: 2px solid;
        width: 20px;
    }

    #h::after,#h::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #h {
        border-top: transparent;
    }

    #nav.active #h::before {
        transform: rotate(45deg);
    }

    #nav.active #h::after {
        transform: rotate(-45deg);
        top: -7px;
    }


    #olicoc {
        color: #d9d9d9;
        font-size: 25px;
    }

    header a {
        font-size: 14px;
    }

    .title {
        margin-top: 10px;
    }

    .container-s {
        padding: 0;
    }

    h2 {
        font-size: 17px;
    }

    #cut {
        width: 100%;
        height: 64px;
    }

    .package-tables {
        height:auto ;
        justify-content: center;
        flex-wrap: wrap;
    }

    .box-tabelas {
        margin: 1rem 0 0 0;
    }

    header ul li {
        display: flex;
    }

    header ul li a {
        display: flex;
        width: 100%;
        height: 55px;
        align-items: center;
    }

    .game-content {
        overflow: scroll;
    }

    ::-webkit-scrollbar {
        height: 1px;
    }

    ::-webkit-scrollbar-thumb {
        color: transparent;
    }

}
